<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ panelTitle }}</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field class="example-full-width" style="width: 100%">
                        <input matInput placeholder="Favorite food" value="Sushi">
                    </mat-form-field>
                </div>
            </div>

            
            
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>

            <div class="form-group" [class.has-error]="formErrors.fullName">
                <label class="col-sm-2 control-label" for="fullName">Full Name</label>
                <div class="col-sm-8">
                    <input formControlName="fullName" id="fullName" class="form-control" type="text"
                        (blur)="logValidationErrors()" />
                    <span *ngIf="formErrors.fullName" class="help-block">
                        {{ formErrors.fullName }}
                    </span>
                </div>
            </div>

            <div class="form-group" [class.has-error]="formErrors.gender">
                <label class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-8">
                    <div class="p-t-0 form-control">
                        <label class="radio-inline">
                            <input formControlName="gender" type="radio" value="Male" /> Male
                        </label>
                        <label class="radio-inline">
                            <input formControlName="gender" type="radio" value="Female" /> Female
                        </label>
                    </div>
                    <span *ngIf="formErrors.gender" class="help-block">
                        {{ formErrors.gender }}
                    </span>
                </div>
            </div>

            <div class="form-group" [class.has-error]="formErrors.dateOfBirth">
                <label class="col-sm-2 control-label" for="dateOfBirth">Date of Birth</label>
                <div class="col-sm-5">
                    <input formControlName="dateOfBirth" id="dateOfBirth" class="form-control" type="text" 
                        bsDatepicker [bsConfig]="datePickerConfig" placement="right" />
                    <span *ngIf="formErrors.dateOfBirth" class="help-block">
                        {{ formErrors.dateOfBirth }}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">State</label>
                <div class="col-sm-8">
                    <div class="p-t-0 form-control">
                        <label class="checkbox-inline">
                            <input type="checkbox" formControlName="isActive" /> Is Active
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group" [class.has-error]="formErrors.department">
                <label class="col-sm-2 control-label" for="department">Department</label>
                <div class="col-sm-8">
                    <select formControlName="department" id="department" class="form-control" 
                        (blur)="logValidationErrors()">
                        <option disabled value="">Select Department</option>
                        <option *ngFor="let department of departments" [value]="department.id">
                            {{ department.name }}
                        </option>
                    </select>
                    <span *ngIf="formErrors.department" class="help-block">
                        {{ formErrors.department }}
                    </span>
                </div>
            </div>

            <div class="form-group" [class.has-error]="formErrors.contactPreference">
                <label class="col-sm-2 control-label">Contact Preference</label>
                <div class="col-sm-8">
                    <div class="p-t-0 form-control">
                        <label class="radio-inline">
                            <input type="radio" value="email" formControlName="contactPreference">Email
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="phone" formControlName="contactPreference">Phone
                        </label>
                    </div>
                    <span *ngIf="formErrors.contactPreference" class="help-block">
                        {{ formErrors.contactPreference }}
                    </span>
                </div>
            </div>

            <div class="form-group" [class.has-error]="formErrors.email">
                <label class="col-sm-2 control-label" for="email">Email</label>
                <div class="col-sm-8">
                    <input formControlName="email" id="email" class="form-control" type="text" (blur)="logValidationErrors()" />
                    <span *ngIf="formErrors.email" class="help-block">
                        {{ formErrors.email }}
                    </span>
                </div>
            </div>

            <div class="form-group" [class.has-error]="formErrors.phone">
                <label class="col-sm-2 control-label" for="phone">Phone</label>
                <div class="col-sm-8">
                    <input formControlName="phone" id="phone" class="form-control" type="text" (blur)="logValidationErrors()" />
                    <span *ngIf="formErrors.phone" class="help-block">
                        {{ formErrors.phone }}
                    </span>
                </div>
            </div>

            <div class="form-group" [class.has-error]="formErrors.photoPath">
                <label class="col-sm-2 control-label" for="photoPath">Photo Path</label>
                <div class="col-sm-8">
                    <input formControlName="photoPath" id="photoPath" class="form-control" type="text" (blur)="logValidationErrors()" />
                    <span *ngIf="formErrors.photoPath" class="help-block">
                        {{ formErrors.photoPath }}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button *ngIf="employeeForm.value.photoPath !== null && employeeForm.value.photoPath !== ''"
                        (click)="togglePhotoPreview()" type="button" class="btn btn-primary">
                        {{ previewPhoto ? "Hide" : "Show" }} Preview
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <img *ngIf="previewPhoto && employeeForm.value.photoPath !== null && employeeForm.value.photoPath !== ''"
                        [src]="employeeForm.value.photoPath" height="200" width="200">
                </div>
            </div>

        </div>

        <div class="panel-footer clearfix">
            <div class="btn-toolbar pull-right">
                <button (click)="onCancelClick()" class="btn btn-danger" type="button">
                        <span class="glyphicon glyphicon-floppy-remove"></span> Cancel
                </button>
                <button [disabled]="(submitted && !employeeForm.valid) || isSaving" class="btn btn-success" type="submit">
                    <span class="glyphicon glyphicon-floppy-save"></span> Save
                </button>
            </div>
        </div>
    </div>
</form>