.imageClass {
    width: 200px;
    height: 200px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

button.btn {
    width: 70px;
}

.buttons-margin {
    margin: 0px 5px 0px;
}

.pointerCursor {
    cursor: pointer;
}