<div class="form-group">
  <input [(ngModel)]="searchTerm" class="form-control" placeholder="Search by Name" type="text" />
</div>

<div *ngFor="let employee of filteredEmployees">
  <app-display-employee
              [employee]="employee"
              [searchTerm]="searchTerm"
              (notifyDelete)="onDeleteNotification($event)"></app-display-employee>
</div>
<div *ngIf="error">{{ error }}</div>