<div class="panel panel-primary" [class.panel-success]="hasJustViewed">
  <div class="panel-heading pointer-cursor" (click)="isHidden = !isHidden">
    <h3 class="panel-title">{{ title | uppercase }}</h3>
  </div>
  <div [hidden]="isHidden" class="panel-body">
    <ng-content select=".myPanelBody"></ng-content>
  </div>
  <div [hidden]="isHidden" class="panel-footer">
    <ng-content select=".myPanelFooter"></ng-content>
  </div>
</div>