<div class="container">
  <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
          <li>
              <a routerLinkActive="active" routerLink="home">Home</a>
          </li>
          <li>
              <a routerLinkActive="active" routerLink="employees">List</a>
          </li>
          <li>
              <a routerLinkActive="active" routerLink="employees/create">Create</a>
          </li>
          <li>
              <a routerLinkActive="active" routerLink="reactive-employees/create">Reactive Form</a>
          </li>
          <li>
              <a routerLinkActive="active" [routerLink]="['employees', 200]">Employee ID 2</a>
          </li>
      </ul>
  </nav>
  <div *ngIf="showLoadingIndicator" class="spinner"></div>
  <router-outlet></router-outlet>
</div>